# Server Configuration
SERVER_PORT=1000
SERVER_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=2000
DB_USER=your-username
DB_PASSWORD=your-password
DB_NAME=your-database
DB_SSLMODE=disable

# JWT Configuration
JWT_SECRET=your-secret-key
JWT_ACCESS_TOKEN_TTL=24
JWT_REFRESH_TOKEN_TTL=168
