# Environment variables
.env

# Air live reload
tmp/
build-errors.log

# Binary
main
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build artifacts
bin/
dist/
build/

# Test binary
*.test

# Output of the go coverage tool
*.out
coverage.html
coverage.txt
unit.xml
integration.xml
e2e.xml

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
